<form>
  <textarea id="title" name="title" width="100%"></textarea><br>
  <input class="btn btn-success btn-xs" type="submit" value="Add">
  <button class="cancel btn btn-danger btn-xs">Cancel</button>
</form>
