<h1>Boards!</h1>

<ul>
<% boards.each( function(board) { %>
  <li>
    <a href="#<%= board.url() %>"><%= board.escape("title")  %></a>
  </li>
<% }) %> 
</ul>

<a href="#/api/boards/new">Make New Board</a>