<%= board.escape("title") %>
<ul>
  <% lists.each(function (list) { %>
    <li>
    <%= list.escape("title") %> 
    </li>
  <% }) %>
</ul>

<a href=<%= "#" + board.url() + "/lists"%>>Make new list</a>