<div class="container-fluid">
  <div class="row" id="board">  
    <%= board.escape("title") %>
      <div id="listContents">
      </div>
  </div>
</div>


<a href=<%= "#" + board.url() + "/lists"%>>Make new list</a><br>
<a href=<%= "#" + board.url() + "/update"%>>Add member to board</a><br>
<button class="destroy">Delete board</button>



