<%= board.escape("title") %>
<ul>
  <% lists.each(function (list) { %>
    <li>
    <%= list.escape("title") %> 
    </li>
  <% }) %>
</ul>



<a href=<%= "#" + board.url() + "/lists"%>>Make new list</a><br>
<a href=<%= "#" + board.url() + "/update"%>>Add member to board</a><br>
<button class="destroy">Delete board</button>