<div class="container-fluid">
  <div class="row">  
    <%= board.escape("title") %>
      <ul>
        <% lists.each(function (list) { %>
            <div class="col-xs-2">
              <li>
              <%= list.escape("title") %>
              </li>
              <div class=""
            </div>
        <% }) %>
      </ul><br>
  </div>
</div>



<a href=<%= "#" + board.url() + "/lists"%>>Make new list</a><br>
<a href=<%= "#" + board.url() + "/update"%>>Add member to board</a><br>
<button class="destroy">Delete board</button>