<form>
  <input type="text" id="title" placeholder="Add a list...">
  <input type="submit" class="btn btn-success btn-xs" value="Save">
  <button class="cancel btn btn-danger btn-xs">Cancel</button>
</form>
